services:
  drawio:
    image: jgraph/drawio:latest
    ports:
      - "18080:8080"
    volumes:
      - ./plugins:/usr/local/tomcat/webapps/draw/plugins
    environment:
      - DRAWIO_SELF_CONTAINED=1
      - "DRAWIO_CSP_HEADER=default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://storage.googleapis.com https://apis.google.com https://docs.google.com https://code.jquery.com blob:; connect-src * ws: wss: http: https:; img-src * data: blob:; media-src * data:; font-src * about: data:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; frame-src 'self' https://*.google.com; worker-src * blob:; child-src * blob:;"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "18443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - drawio
    restart: unless-stopped
